@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.trans table{
    border: none;
  
    margin: 0 50px;
    border-collapse: collapse;
    
}
.trans thead th{
    border: 1px solid rgb(255, 14, 14);
    padding: 20px;
    border-top: none;
    border-collapse: collapse;
    
}

.trans tbody tr td{
    border: 2px solid black;
    padding: 10px;
    border-collapse: collapse;
    font-family: "Roboto", sans-serif;
}
.page_info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.btn button{
    margin: 20px;
    padding:5px 10px;
}