
/*.trans table{
    border: none;
  
    margin: 0 50px;
    border-collapse: collapse;
    
}
.trans thead th{
    border: 1px solid rgb(255, 14, 14);
    padding: 20px;
    border-top: none;
    border-collapse: collapse;
    
}

.trans tbody tr td{
    border: 2px solid black;
    padding: 10px;
    border-collapse: collapse;
    font-family: "Roboto", sans-serif;
}
.page_info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.btn button{
    margin: 20px;
    padding:5px 10px;
}*/

 tbody tr td img{
    width: 50%;
    aspect-ratio: 8/9;
}
